In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df1 = pd.read_csv("C:/Users/preetideepti/Desktop/YMCA/Hackathon/Challenge 1/Bankruptcy dataset/1year.csv")
df2 = pd.read_csv("C:/Users/preetideepti/Desktop/YMCA/Hackathon/Challenge 1/Bankruptcy dataset/2year.csv")
df3 = pd.read_csv("C:/Users/preetideepti/Desktop/YMCA/Hackathon/Challenge 1/Bankruptcy dataset/3year.csv")
df4 = pd.read_csv("C:/Users/preetideepti/Desktop/YMCA/Hackathon/Challenge 1/Bankruptcy dataset/4year.csv")
df5 = pd.read_csv("C:/Users/preetideepti/Desktop/YMCA/Hackathon/Challenge 1/Bankruptcy dataset/5year.csv")

C:\Users\preetideepti\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,1,2,5,6,8,9,10,13,17,21,23,24,28,34,35,37,47,50,54,56,58) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\preetideepti\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\preetideepti\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,1,2,5,6,7,9,10,13,14,15,16,17,21,23,24,25,28,33,34,35,37,47,49,50,56,58) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)

(7012, 65)
(10173, 65)
(10476, 65)
(9539, 65)
(5427, 65)

In [4]:
frames = [df1 ,df2 ,df3 , df4 , df5]

In [5]:
df = pd.concat(frames)

In [6]:
df.shape

(42627, 65)

In [7]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,0.50494,...,0.12196,0.39718,0.87804,0.001924,8.416,5.1372,82.658,4.4158,7.4277,0
1,0.20912,0.49988,0.47225,1.9447,14.786,0,0.25834,0.99601,1.6996,0.49788,...,0.1213,0.42002,0.853,0,4.1486,3.2732,107.35,3.4,60.987,0
2,0.24866,0.69592,0.26713,1.5548,-1.1523,0,0.30906,0.43695,1.309,0.30408,...,0.24114,0.81774,0.76599,0.69484,4.9909,3.951,134.27,2.7185,5.2078,0
3,0.081483,0.30734,0.45879,2.4928,51.952,0.14988,0.092704,1.8661,1.0571,0.57353,...,0.054015,0.14207,0.94598,0,4.5746,3.6147,86.435,4.2228,5.5497,0
4,0.18732,0.61323,0.2296,1.4063,-7.3128,0.18732,0.18732,0.6307,1.1559,0.38677,...,0.13485,0.48431,0.86515,0.12444,6.3985,4.3158,127.21,2.8692,7.898,0

In [8]:
df.tail()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
5422,0.012898,0.70621,0.038857,1.1722,-18.907,0,0.013981,0.416,1.6768,0.29379,...,0.020169,0.043904,1.0122,1.2594,13.472,12.432,49.117,7.4313,2.2799,1
5423,-0.57805,0.96702,-0.80085,0.16576,-67.365,-0.57805,-0.57805,-0.40334,0.93979,-0.39004,...,-0.064073,1.482,1.0641,-0.018084,110.72,44.759,81.22,4.494,5.1305,1
5424,-0.17905,1.2553,-0.27599,0.74554,-120.44,-0.17905,-0.15493,-0.26018,1.1749,-0.32659,...,0.14888,0.54824,0.85112,-0.52243,9.8526,3.4892,207.87,1.7559,9.9527,1
5425,-0.10886,0.74394,0.015449,1.0878,-17.003,-0.10886,-0.10918,0.12531,0.84516,0.093224,...,-0.1832,-1.1677,1.1832,6.0924,13.886,6.0769,83.122,4.3911,0.95575,1
5426,-0.10537,0.53629,-0.045578,0.91478,-56.068,-0.10537,-0.10994,0.8646,0.9504,0.46367,...,-0.052186,-0.22725,1.0522,0.003196,7.7332,4.7174,136.85,2.6672,2.7927,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42627 entries, 0 to 5426
Data columns (total 65 columns):
Attr1     42627 non-null object
Attr2     42627 non-null object
Attr3     42627 non-null object
Attr4     42627 non-null object
Attr5     42627 non-null object
Attr6     42627 non-null object
Attr7     42627 non-null object
Attr8     42627 non-null object
Attr9     42627 non-null object
Attr10    42627 non-null object
Attr11    42627 non-null object
Attr12    42627 non-null object
Attr13    42627 non-null object
Attr14    42627 non-null object
Attr15    42627 non-null object
Attr16    42627 non-null object
Attr17    42627 non-null object
Attr18    42627 non-null object
Attr19    42627 non-null object
Attr20    42627 non-null object
Attr21    42627 non-null object
Attr22    42627 non-null object
Attr23    42627 non-null object
Attr24    42627 non-null object
Attr25    42627 non-null object
Attr26    42627 non-null object
Attr27    42627 non-null object
Attr28    42627 non-null object
Attr29    42627 non-null object
Attr30    42627 non-null object
Attr31    42627 non-null object
Attr32    42627 non-null object
Attr33    42627 non-null object
Attr34    42627 non-null object
Attr35    42627 non-null object
Attr36    42627 non-null object
Attr37    42627 non-null object
Attr38    42627 non-null object
Attr39    42627 non-null object
Attr40    42627 non-null object
Attr41    42627 non-null object
Attr42    42627 non-null object
Attr43    42627 non-null object
Attr44    42627 non-null object
Attr45    42627 non-null object
Attr46    42627 non-null object
Attr47    42627 non-null object
Attr48    42627 non-null object
Attr49    42627 non-null object
Attr50    42627 non-null object
Attr51    42627 non-null object
Attr52    42627 non-null object
Attr53    42627 non-null object
Attr54    42627 non-null object
Attr55    42627 non-null object
Attr56    42627 non-null object
Attr57    42627 non-null object
Attr58    42627 non-null object
Attr59    42627 non-null object
Attr60    42627 non-null object
Attr61    42627 non-null object
Attr62    42627 non-null object
Attr63    42627 non-null object
Attr64    42627 non-null object
class     42627 non-null int64
dtypes: int64(1), object(64)
memory usage: 21.5+ MB

In [10]:
df= df.replace(['?'],0)

In [11]:
df = df.apply(pd.to_numeric , errors = 'coerce')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42627 entries, 0 to 5426
Data columns (total 65 columns):
Attr1     42627 non-null float64
Attr2     42627 non-null float64
Attr3     42627 non-null float64
Attr4     42627 non-null float64
Attr5     42627 non-null float64
Attr6     42627 non-null float64
Attr7     42627 non-null float64
Attr8     42627 non-null float64
Attr9     42627 non-null float64
Attr10    42627 non-null float64
Attr11    42627 non-null float64
Attr12    42627 non-null float64
Attr13    42627 non-null float64
Attr14    42627 non-null float64
Attr15    42627 non-null float64
Attr16    42627 non-null float64
Attr17    42627 non-null float64
Attr18    42627 non-null float64
Attr19    42627 non-null float64
Attr20    42627 non-null float64
Attr21    42627 non-null float64
Attr22    42627 non-null float64
Attr23    42627 non-null float64
Attr24    42627 non-null float64
Attr25    42627 non-null float64
Attr26    42627 non-null float64
Attr27    42627 non-null float64
Attr28    42627 non-null float64
Attr29    42627 non-null float64
Attr30    42627 non-null float64
Attr31    42627 non-null float64
Attr32    42627 non-null float64
Attr33    42627 non-null float64
Attr34    42627 non-null float64
Attr35    42627 non-null float64
Attr36    42627 non-null float64
Attr37    42627 non-null float64
Attr38    42627 non-null float64
Attr39    42627 non-null float64
Attr40    42627 non-null float64
Attr41    42627 non-null float64
Attr42    42627 non-null float64
Attr43    42627 non-null float64
Attr44    42627 non-null float64
Attr45    42627 non-null float64
Attr46    42627 non-null float64
Attr47    42627 non-null float64
Attr48    42627 non-null float64
Attr49    42627 non-null float64
Attr50    42627 non-null float64
Attr51    42627 non-null float64
Attr52    42627 non-null float64
Attr53    42627 non-null float64
Attr54    42627 non-null float64
Attr55    42627 non-null float64
Attr56    42627 non-null float64
Attr57    42627 non-null float64
Attr58    42627 non-null float64
Attr59    42627 non-null float64
Attr60    42627 non-null float64
Attr61    42627 non-null float64
Attr62    42627 non-null float64
Attr63    42627 non-null float64
Attr64    42627 non-null float64
class     42627 non-null int64
dtypes: float64(64), int64(1)
memory usage: 21.5 MB

In [13]:
df.isnull().sum()

Attr1     0
Attr2     0
Attr3     0
Attr4     0
Attr5     0
Attr6     0
Attr7     0
Attr8     0
Attr9     0
Attr10    0
Attr11    0
Attr12    0
Attr13    0
Attr14    0
Attr15    0
Attr16    0
Attr17    0
Attr18    0
Attr19    0
Attr20    0
Attr21    0
Attr22    0
Attr23    0
Attr24    0
Attr25    0
Attr26    0
Attr27    0
Attr28    0
Attr29    0
Attr30    0
         ..
Attr36    0
Attr37    0
Attr38    0
Attr39    0
Attr40    0
Attr41    0
Attr42    0
Attr43    0
Attr44    0
Attr45    0
Attr46    0
Attr47    0
Attr48    0
Attr49    0
Attr50    0
Attr51    0
Attr52    0
Attr53    0
Attr54    0
Attr55    0
Attr56    0
Attr57    0
Attr58    0
Attr59    0
Attr60    0
Attr61    0
Attr62    0
Attr63    0
Attr64    0
class     0
Length: 65, dtype: int64

In [14]:
df.describe()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
count,42627.000000,42627.000000,42627.000000,42627.000000,4.262700e+04,42627.000000,42627.000000,42627.000000,42627.000000,42627.000000,...,4.262700e+04,42627.000000,4.262700e+04,42627.000000,4.262700e+04,42627.000000,4.262700e+04,42627.000000,42627.000000,42627.000000
mean,0.034762,0.592438,0.111866,6.344234,-3.921654e+02,-0.057867,0.093919,12.778688,2.674172,0.628804,...,-2.662136e+01,-0.012053,3.049853e+01,1.344964,4.326151e+02,17.167984,1.523265e+03,9.360334,72.067950,0.048068
std,3.020931,5.895139,5.488165,297.649217,6.173596e+04,7.265884,5.764386,509.930272,63.497535,14.802454,...,5.368392e+03,13.795997,5.377702e+03,123.194495,3.182006e+04,557.414353,1.403260e+05,125.100155,2367.552187,0.213913
min,-463.890000,-430.870000,-479.960000,-0.403110,-1.190300e+07,-508.410000,-517.480000,-141.410000,-3.496000,-479.910000,...,-1.108300e+06,-1667.300000,-1.986900e+02,-327.970000,-1.244000e+01,-12.656000,-2.336500e+06,-1.543200,-10677.000000,0.000000
25%,0.003420,0.269605,0.020574,1.044400,-4.914600e+01,0.000000,0.005805,0.425935,1.018800,0.294510,...,8.987500e-03,0.014763,8.748500e-01,0.000000,4.998200e+00,4.520200,4.169250e+01,3.086350,2.075300,0.000000
50%,0.049686,0.472350,0.195760,1.561100,-1.032500e+00,0.000000,0.059653,1.063400,1.198300,0.505130,...,5.252000e-02,0.119960,9.508900e-01,0.006478,9.247800e+00,6.656300,7.098100e+01,5.078400,4.182200,0.000000
75%,0.129900,0.688945,0.402235,2.778700,5.020700e+01,0.087964,0.151285,2.599850,2.070600,0.708300,...,1.288000e-01,0.285690,9.925850e-01,0.237980,1.931500e+01,10.432000,1.167550e+02,8.612000,9.595900,0.000000
max,94.280000,480.960000,28.336000,53433.000000,1.250100e+06,543.250000,649.230000,53432.000000,9742.300000,1099.500000,...,2.931500e+02,552.640000,1.108300e+06,23853.000000,4.818700e+06,108000.000000,2.501600e+07,23454.000000,294770.000000,1.000000

## Logistic Regression

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [16]:
X = df.drop(['class'] , axis =1)
y = df['class']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y ,test_size =0.3 , random_state =1 )

In [18]:
lr = LogisticRegression()

In [19]:
lr.fit(X_train,y_train)

C:\Users\preetideepti\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\preetideepti\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
pred = lr.predict(X_test)
pred.shape

(12789,)

In [21]:
lr.score(X_test,y_test)

0.8798185941043084

## Decision Tree

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dtc = DecisionTreeClassifier()

In [32]:
X_train, X_test, y_train, y_test= train_test_split(x ,y , test_size = 0.3 ,  random_state = 4)

In [33]:
dtc.fit(X_train , y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [34]:
pred1 = dtc.predict(X_test)
pred1

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [35]:
dtc.score(X_test , y_test)

0.9498006098991321