In [3]:
import pandas as pd
import numpy as np
%matplotlib inline

In [4]:
df=pd.read_csv("titanic.csv")
df.head()

   pclass  gender   age  sibling     fare  embark_town survived
0       3    male  22.0        1   7.2500  Southampton       no
1       1  female  38.0        1  71.2833    Cherbourg      yes
2       3  female  26.0        0   7.9250  Southampton      yes
3       1  female  35.0        1  53.1000  Southampton      yes
4       3    male  35.0        0   8.0500  Southampton       no

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 7 columns):
pclass         889 non-null int64
gender         889 non-null object
age            712 non-null float64
sibling        889 non-null int64
fare           889 non-null float64
embark_town    889 non-null object
survived       889 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 48.7+ KB

In [6]:
df.shape

(889, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 7 columns):
pclass         889 non-null int64
gender         889 non-null object
age            712 non-null float64
sibling        889 non-null int64
fare           889 non-null float64
embark_town    889 non-null object
survived       889 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 48.7+ KB

In [8]:
df['age']=df['age'].fillna(df['age'].median())

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 7 columns):
pclass         889 non-null int64
gender         889 non-null object
age            889 non-null float64
sibling        889 non-null int64
fare           889 non-null float64
embark_town    889 non-null object
survived       889 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 48.7+ KB

In [10]:
sex=pd.get_dummies(df['gender'],drop_first=True)
embark=pd.get_dummies(df['embark_town'],drop_first=True)

In [11]:
df=df.drop(['gender','embark_town'],axis=1)

In [12]:
df=pd.concat([df,sex,embark],axis=1)

In [13]:
df.head()

   pclass   age  sibling     fare survived  male  Queenstown  Southampton
0       3  22.0        1   7.2500       no     1           0            1
1       1  38.0        1  71.2833      yes     0           0            0
2       3  26.0        0   7.9250      yes     0           0            1
3       1  35.0        1  53.1000      yes     0           0            1
4       3  35.0        0   8.0500       no     1           0            1

In [14]:
df['survived']=df['survived'].apply(lambda x:1 if x=='yes' else 0)

In [15]:
df.head()

   pclass   age  sibling     fare  survived  male  Queenstown  Southampton
0       3  22.0        1   7.2500         0     1           0            1
1       1  38.0        1  71.2833         1     0           0            0
2       3  26.0        0   7.9250         1     0           0            1
3       1  35.0        1  53.1000         1     0           0            1
4       3  35.0        0   8.0500         0     1           0            1

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [17]:
x=df.drop('survived',axis=1)
y=df['survived']

In [18]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [19]:
lr=LogisticRegression()

In [20]:
lr.fit(xtrain,ytrain)

C:\Users\preetideepti\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
pred=lr.predict(xtest)

In [22]:
pred.shape

(178,)

In [23]:
from sklearn import metrics as m
m.confusion_matrix(ytest,pred)

array([[91, 14],
       [16, 57]], dtype=int64)

In [24]:
lr.score(xtest,ytest)

0.8314606741573034

In [25]:
predict_prob=lr.predict_proba(xtest)

In [26]:
print(predict_prob.shape)
predict_prob

(178, 2)

array([[0.30387649, 0.69612351],
       [0.37455622, 0.62544378],
       [0.9253605 , 0.0746395 ],
       [0.30165892, 0.69834108],
       [0.93845552, 0.06154448],
       [0.17158887, 0.82841113],
       [0.37397422, 0.62602578],
       [0.56121624, 0.43878376],
       [0.83662528, 0.16337472],
       [0.42827969, 0.57172031],
       [0.70937514, 0.29062486],
       [0.29981299, 0.70018701],
       [0.76196922, 0.23803078],
       [0.21486202, 0.78513798],
       [0.85962333, 0.14037667],
       [0.3997036 , 0.6002964 ],
       [0.89495023, 0.10504977],
       [0.32730009, 0.67269991],
       [0.209831  , 0.790169  ],
       [0.49816436, 0.50183564],
       [0.86365144, 0.13634856],
       [0.60300545, 0.39699455],
       [0.85053094, 0.14946906],
       [0.93358521, 0.06641479],
       [0.55758921, 0.44241079],
       [0.50033391, 0.49966609],
       [0.06952593, 0.93047407],
       [0.86209407, 0.13790593],
       [0.90013954, 0.09986046],
       [0.374223  , 0.625777  ],
       [0.44145918, 0.55854082],
       [0.10129992, 0.89870008],
       [0.20530369, 0.79469631],
       [0.41514142, 0.58485858],
       [0.57297714, 0.42702286],
       [0.2273198 , 0.7726802 ],
       [0.63089796, 0.36910204],
       [0.87802214, 0.12197786],
       [0.28912063, 0.71087937],
       [0.61160088, 0.38839912],
       [0.43108503, 0.56891497],
       [0.88786421, 0.11213579],
       [0.2336963 , 0.7663037 ],
       [0.87805484, 0.12194516],
       [0.77433889, 0.22566111],
       [0.28142792, 0.71857208],
       [0.20536967, 0.79463033],
       [0.80191867, 0.19808133],
       [0.10345051, 0.89654949],
       [0.90467059, 0.09532941],
       [0.87831613, 0.12168387],
       [0.48417017, 0.51582983],
       [0.89133369, 0.10866631],
       [0.10235396, 0.89764604],
       [0.76902964, 0.23097036],
       [0.09973011, 0.90026989],
       [0.78628111, 0.21371889],
       [0.91856249, 0.08143751],
       [0.73650882, 0.26349118],
       [0.93589292, 0.06410708],
       [0.78823819, 0.21176181],
       [0.85599522, 0.14400478],
       [0.56699037, 0.43300963],
       [0.87805484, 0.12194516],
       [0.49867291, 0.50132709],
       [0.27962541, 0.72037459],
       [0.87464059, 0.12535941],
       [0.89514957, 0.10485043],
       [0.82812286, 0.17187714],
       [0.04094136, 0.95905864],
       [0.59774527, 0.40225473],
       [0.09222679, 0.90777321],
       [0.65794523, 0.34205477],
       [0.85634359, 0.14365641],
       [0.33935275, 0.66064725],
       [0.17235407, 0.82764593],
       [0.84493571, 0.15506429],
       [0.90957702, 0.09042298],
       [0.86904008, 0.13095992],
       [0.8239294 , 0.1760706 ],
       [0.84493571, 0.15506429],
       [0.85953241, 0.14046759],
       [0.0740353 , 0.9259647 ],
       [0.04640039, 0.95359961],
       [0.77641041, 0.22358959],
       [0.68265834, 0.31734166],
       [0.48456715, 0.51543285],
       [0.1037958 , 0.8962042 ],
       [0.87805484, 0.12194516],
       [0.39890774, 0.60109226],
       [0.88374469, 0.11625531],
       [0.37426591, 0.62573409],
       [0.91822198, 0.08177802],
       [0.84126844, 0.15873156],
       [0.36780085, 0.63219915],
       [0.83314071, 0.16685929],
       [0.29304486, 0.70695514],
       [0.33296132, 0.66703868],
       [0.36779608, 0.63220392],
       [0.2676576 , 0.7323424 ],
       [0.84941866, 0.15058134],
       [0.37453676, 0.62546324],
       [0.69910521, 0.30089479],
       [0.85297484, 0.14702516],
       [0.85247895, 0.14752105],
       [0.90936439, 0.09063561],
       [0.12116765, 0.87883235],
       [0.84951499, 0.15048501],
       [0.81831464, 0.18168536],
       [0.81181346, 0.18818654],
       [0.63095103, 0.36904897],
       [0.77329545, 0.22670455],
       [0.84126844, 0.15873156],
       [0.29023654, 0.70976346],
       [0.35813396, 0.64186604],
       [0.12690889, 0.87309111],
       [0.91687973, 0.08312027],
       [0.42836438, 0.57163562],
       [0.07826382, 0.92173618],
       [0.79666282, 0.20333718],
       [0.86951562, 0.13048438],
       [0.33263268, 0.66736732],
       [0.37382269, 0.62617731],
       [0.57709569, 0.42290431],
       [0.22334298, 0.77665702],
       [0.87526905, 0.12473095],
       [0.46833076, 0.53166924],
       [0.9146595 , 0.0853405 ],
       [0.8722153 , 0.1277847 ],
       [0.61575447, 0.38424553],
       [0.4973491 , 0.5026509 ],
       [0.70032411, 0.29967589],
       [0.85619594, 0.14380406],
       [0.57709569, 0.42290431],
       [0.40274036, 0.59725964],
       [0.11089436, 0.88910564],
       [0.85131662, 0.14868338],
       [0.90662277, 0.09337723],
       [0.87431885, 0.12568115],
       [0.87027862, 0.12972138],
       [0.84144703, 0.15855297],
       [0.34786231, 0.65213769],
       [0.90431365, 0.09568635],
       [0.42797491, 0.57202509],
       [0.60839338, 0.39160662],
       [0.76054499, 0.23945501],
       [0.30755691, 0.69244309],
       [0.06345952, 0.93654048],
       [0.09901166, 0.90098834],
       [0.90438941, 0.09561059],
       [0.87454002, 0.12545998],
       [0.91596682, 0.08403318],
       [0.24533038, 0.75466962],
       [0.84951499, 0.15048501],
       [0.52238468, 0.47761532],
       [0.4021236 , 0.5978764 ],
       [0.76452732, 0.23547268],
       [0.43893982, 0.56106018],
       [0.87729434, 0.12270566],
       [0.87819861, 0.12180139],
       [0.56639058, 0.43360942],
       [0.78316438, 0.21683562],
       [0.61575447, 0.38424553],
       [0.87230836, 0.12769164],
       [0.85323065, 0.14676935],
       [0.83871337, 0.16128663],
       [0.17555664, 0.82444336],
       [0.01222172, 0.98777828],
       [0.76959645, 0.23040355],
       [0.24150923, 0.75849077],
       [0.85437987, 0.14562013],
       [0.90599046, 0.09400954],
       [0.84493571, 0.15506429],
       [0.86609865, 0.13390135],
       [0.75954295, 0.24045705],
       [0.33287578, 0.66712422],
       [0.85953241, 0.14046759],
       [0.74407078, 0.25592922]])

In [27]:
predict_prob=predict_prob[:,1]

In [28]:
#Calculate AUC
auc=m.roc_auc_score(ytest,predict_prob)
auc

0.9035877364644488

In [29]:
#calculate roc curve
fpr,tpr,thresholds=m.roc_curve(ytest,predict_prob)

In [30]:
plt.plot([0,1],[0,1],linestyle="--")
plt.plot(fpr,tpr,marker=".")
plt.show()

NameError: name 'plt' is not defined